nav {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav>div {
    display: flex;
}

nav>div>a {
    text-decoration: none;
}

.personal,
.business,
.features,
.plans,
.about-us,
.help {
    margin-left: 10px;
    margin-right: 10px;
}

.logo>img {
    width: 60px;
}

.features,
.plans,
.about-us,
.help {
    position: relative;
}

.features-ul,
.plans-ul,
.about-us-ul,
.help-ul {
    position: absolute;
    transform: translate(-50%);
    display: none;
}

.active {
    display: block;
}